
		<div class="w1200 index">
			<div class="headerLine"></div>
			<div class="clearfix header">
				<div class="fl appBrand"><a href="javascript:;" class="sysName">投标-价格预测系统</a></div>
				<div class="fr">
					<ul class="clearfix" >
						<li class="fl">{{ loginName | limitTo: 5 }}{{loginName.length > 5? '...' : ''}}</li>
						<li class="fl">|</li>
						<li class="fl"><a class="quit" ng-click="exit()">退出</a></li>
					</ul>
				</div>
			</div>
			<div class="content">
				<div class="leftSide">
					<div class="operationMenu">
						<ul class="indented-left">
							<li>
								<a style="display:block;" ui-sref='toOperation.userM' class="items" ng-class="{itemBg:menuIndex==0}" ng-click="menuChecked($event)">  
									<i class="layui-icon" style="font-size: 25px; color: #333;vertical-align: middle;">&#xe612;</i>
						            <span>用户管理</span>
								</a>
							</li>
							<li>
								<a style="display:block;" ui-sref='toOperation.rulesM' class="items" ng-class="{itemBg:menuIndex==1}" ng-click="menuChecked($event)">  
									<i class="layui-icon" style="font-size: 25px; color: #333;vertical-align: middle;">&#xe622;</i>
						            <span>规则管理</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="viewArea">
					<div ui-view></div>
				</div>
			</div>
		</div>
	