
		<div class="loginPage" >
			<div class="inside">
				<div class="logo"><span>投标-价格预测系统</span></div>
				<div class="clearfix">
					<div class="loginBox loginBL fl"><img src="img/u40.jpg" alt="" /></div>
					<div class="loginBox loginBR fr">
						<div class="welLogin">
							<span class="line"><hr style="background: #AEAEAE;"/></span>
							<span class="loginWord">欢迎登录</span>
							<span class="line"><hr style="background: #AEAEAE;"/></span>
						</div>
						<div class="loginInputBox">
							<form name="login" ng-submit="submitLogin()" class="ng-cloak">
								<div class="loginErr inputWH" ng-if="loginErrInfo">
									<i class="layui-icon" style="font-size: 20px; ">&#x1007;</i> 
									<span>{{errorInfo}}</span>
								</div>
								<div class="username relative">
									<div class="absolute nullPromp" ng-if="login.username.$error.required&&login.username.$touched">用户名不能为空</div>
									<label for="user">用户名:</label>
									<div class="relative IB">
										<i class="inputIcon userIcon"></i>
										<input id="user" name="username"
											type="text"
											class="inputWH user"
											placeholder="请输入账号" 
											ng-model="userData.name"
											ng-focus="inputInfo()"
											required/>
									<i class="layui-icon clearInputBtn" ng-show="userData.name.length>0" ng-click="userData.name=''">&#x1006;</i>  
									</div>
								</div>
								<div class="password relative">
									<div class="absolute nullPromp" ng-if="login.password.$error.required &&login.password.$touched">密码不能为空</div>
									<label for="pwd">密码:</label>
									<div class="relative IB">
										<i class="inputIcon pwdIcon"></i>
										<input id="pwd" name="password" 
											type="password" 
											class="inputWH pwd" 
											placeholder="请输入密码" 
											ng-model='userData.pwd'
											ng-focus="inputInfo()"
											required/>
									<i class="layui-icon clearInputBtn" ng-show="userData.pwd.length>0" ng-click="userData.pwd=''">&#x1006;</i>
									</div>
								</div>
								<div class="autoLogin">
									<input type="checkbox" id="autoLogin" name="autoLogin" ng-model="userData.loginStatus"/><label for="autoLogin">两周内自动登录</label>
								</div>
								<div class="loginBtn">
									<button class="inputWH layui-btn layui-btn-normal">登录</button><!--ng-disabled='login.$invalid'-->
								</div>
								<div class="tel"><span>010-66888866</span></div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>

