<div class="detailsInfoBox">
	<div class="DP" ng-if="showStatusList">
		<div class="back relative"><a ng-href="./index.html#/Client?dep={{now.nurl}}"><返回</a><div class="absolute changeDataHint">此项数据规则已被修改，请在'开始运算'前进行数据备份，否则旧数据将被覆盖</div></div>
		<div class="searchBg">
			<div class="search">
				<div class="searchCenter clearfix">
					<div class="searchTime fl">
						<span>开标时间：</span>
						<input type="text" class="inputDate" id="startTime1" ng-model="page.tenderStartTime" onclick="WdatePicker({onpicked: function(){$(this).trigger('change')},maxDate:'#F{$dp.$D(\'endTime1\')}',dateFmt:'yyyy-M',isShowClear:false})"/>
						<span class="TInterval">至</span>
						<input type="text" class="inputDate" id="endTime1" ng-model="page.tenderEndTime" onclick="WdatePicker({onpicked: function(){$(this).trigger('change')},minDate:'#F{$dp.$D(\'startTime1\')}',dateFmt:'yyyy-M',isShowClear:false})"/>
					</div>
					<div class="searchArea fl">
						<span>开标地域：</span>
						<select class="checkArea" ng-model="page.province" ng-options="objP.Province for objP in AreaProvince" ng-change="cityKinkage(page.province)">
							<option value="">省</option>
						</select>
						<select class="checkArea"  ng-model="page.city" ng-options="objC.City for objC in AreaCity">
							<option value="">市</option>
						</select>
					</div>
					<div class="searchCalendarTime fr">
						<span>日历时间：</span>
						<select class="checkDrug" ng-model='page.calendarMonth'>
							<option value="">全年</option>
							<option value="{{$index+1}}" ng-repeat="obj in monthData">{{obj}}</option>
						</select>
					</div>
					<div class="searchDrug fl">
						<span>药物类别：</span>
						<select class="checkDrug" ng-model='page.medType' ng-options='obj.name for obj in medCategory'>
							<option value="">全部</option>
						</select>
					</div>
					<div class="searchMode fl">
						<span>模式：</span>
						<select class="checkMode" ng-model='page.mode' ng-options='obj.name for obj in biddingMode'>
							<option value="">全部</option>
						</select>
					</div>
					<div class="searchMode fl">
						<span>显示选项：</span>
						<select class="checkMode" ng-model='page.isTenderMonth' ng-options='obj.name for obj in page.isTenderAll'>
							<!--<option value="">显示全部</option>
							<option value="1">只显示开标月</option>-->
						</select>
					</div>
					<div class="searchBtn fr">
						<input type="button" value="查询" class="btn btn-info" ng-click="searchMedData(1,10)"/>
					</div>
				</div>
			</div>
		</div>
		<!--table-->
		<div class="tableBox">
			<div class="tableTitle clearfix">
				<input type="checkbox" id="allSel" ng-model="page.master" ng-click="checkAll($event)"/><label for="allSel">全选</label>
				<input type="button" class="btn btn-info" value="设置药物类别" ng-click="drugCategory()"/>
				<input type="button" class="btn btn-info" value="设置上限价-中标价比例" ng-click="setRatio()"/>
				<input type="button" class="btn btn-info" value="导出" ng-click="ExportToExcel()"/>
				<input type="button" class="btn btn-info" value="清空所有" ng-click="clearAllData()"/>
				<input type="button" class="btn btn-success" value="开始运算" ng-click="startCalculate(0)"/>
				<a style="cursor: pointer;float:right;margin-right:20px;margin-top:10px;font-size:16px;" ng-click="viewHistory(currentMed)">查看历史数据</a>
			</div>
			<div class="tableBg">
				<div class="tableHeight tht">
					<table class="table" id="bidList">
						<thead>
							<tr>
								<th></th>
								<th ng-repeat="bidTitle in bidListHeader">{{bidTitle}}</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="obj in hisData" class="sinTr" ng-class="{abstainColor:obj.flag,hasTender:obj.hasTender}">
								<td class="td1"><input type="checkbox" ng-click="checkSin($event,obj)" class="singleSel edit" ng-disabled="obj.flag"/></td>
								<td class="td2">{{obj.tenderYear}}</td>
								<td class="td3">{{obj.tenderMonth}}</td>
								<td class="td4">{{obj.implementationMonth}}</td>
								<td class="td5">{{obj.province}}</td>
								<td class="td6">{{obj.city}}</td>
								<td class="td7">{{obj.medicineType}}</td>
								<td class="td8">{{obj.modifyUpPrice==null?obj.upPrice:obj.modifyUpPrice}}</td>
								<td class="td9">{{obj.modifyUpTenderPrice==null?obj.upTenderPrice:obj.modifyUpTenderPrice}}</td>
								<td class="td10">{{obj.updateTenderPrice==null?obj.tenderPrice:obj.updateTenderPrice}}</td>
								<td class="td11">{{obj.calendarMonth}}</td>
								<td class="td12">{{obj.monthRealPrice}}</td>
								<td class="td13">{{obj.mode}}</td>
								<td class="td14"><button ng-click="viewRules(obj)" class="lookRules edit" ng-disabled="obj.flag">查看</button></td>
								<td class="td15">
									<div ng-if="obj.tenderMonth==obj.calendarMonth">
										<button type="button" class="btn btn-info btn-xs biddingStatus" ng-click="abstain(obj,$event)" ng-class="{'btn-danger':obj.flag}" ng-if="obj.modeCode!=2" ng-bind="obj.flag?'应标':'弃标'"></button> <!--ng-if="!obj.hasTender"-->
										<button type="button" class="btn btn-primary btn-xs edit" ng-click="editMedList(obj)"  ng-disabled="obj.flag" ng-if="obj.modeCode!=2">编辑</button>
										<button type="button" class="btn btn-xs edit" ng-click="clearData(obj,$event)" ng-disabled="obj.flag" ng-class="{'btn-success':obj.hasTender,'btn-danger':!obj.hasTender}" ng-bind="obj.hasTender?'还原':'清空'"></button>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<button type="button" class="btn btn-default" style="width:100%;color:#2BA2CD;font-size:14px;border-color:#5BC0DE;" ng-click="showList($event)" ng-show="page.SHList">展开</button>
				<div class="clearfix">
					<div class="colorHintBox fl">
						<ul class="clearfix">
							<li class="fl colorBlock cb1"></li>
							<li class="fl colorHint">已开标状态</li>
							<li class="fl colorBlock cb2"></li>
							<li class="fl colorHint">弃标状态</li>
						</ul>
					</div>
					<div class="paging fr">
						<span style="margin-right:20px;">共{{page.totalPage}}页</span>
						<span style="margin-right:20px;">每页
							<select ng-options="num for num in infoNum" ng-model="page.pageSize" ng-change="changeNum()"></select>
							个
						</span>
						<input type="button" value="上页" ng-click="prevPage()"/>
						<input type="number" step="1" id="PI" ng-model="page.pageIndex" />
						<input type="button" value="下页" ng-click="nextPage()"/>
						<input type="button" value="跳转" ng-click="skipPage()"/>
					</div>
				</div>
			</div>
		</div>
		<!--<div class="colorHintBox">
			<ul class="clearfix">
				<li class="fl colorBlock cb1"></li>
				<li class="fl colorHint">已开标状态</li>
				<li class="fl colorBlock cb2"></li>
				<li class="fl colorHint">弃标状态</li>
			</ul>
		</div>-->
		<div class="chartsBox" ng-show="showMap">
			<!--全国地图-->
			<div class="chartNationwide clearfix relative">
				<div class="fl chartM" id="chartMap"></div>
				<div class="fl chartT" id="chartLine"></div>
				<input type="button" id="isShowYearPrice" class="btn btn-info" style="position:absolute;top:10px;right:10px;padding:0 3px;" value="全年最低价分布" ng-click="skipToYear()" />
			</div>
			<!--某省地图-->
			<div class="chartNationwide clearfix" ng-show="showProvince">
				<div class="chartProvinceMap fl" id="chartProM"></div>
				<div class="chartCityBar fl" id="chartCityB"></div>
			</div>
			<div class="relative" style="background:#fff;">
				<div style="width:970px;height:1200px;padding-top:40px;background:#fff;" id="sdt"></div>
				<div style="position:absolute;top:10px;left:20px;font-size:18px;font-weight: bold;">各月价格分布趋势图</div>
			</div>
		</div>
	</div>
	<div class="historicalData" ng-if="showStatusHis">
		<div class="back relative"><a ng-click="hisDataBack()" style="cursor: pointer;"><返回</a></div>
		<div class="searchBg">
			<div class="search">
				<div class="searchCenter hisSearchCenter clearfix">
					<div class="fl">
						<div class="searchTime">
							<span>开标时间：</span>
							<input type="text" class="inputDate" id="startTime" ng-model="page.tenderStartTime" onclick="WdatePicker({onpicked: function(){$(this).trigger('change')},maxDate:'#F{$dp.$D(\'endTime\')}',dateFmt:'yyyy-M',isShowClear:false})"/>
							<span>至</span>
							<input type="text" class="inputDate" id="endTime" ng-model="page.tenderEndTime" onclick="WdatePicker({onpicked: function(){$(this).trigger('change')},minDate:'#F{$dp.$D(\'startTime\')}',dateFmt:'yyyy-M',isShowClear:false})"/>
						</div>
						<div class="searchArea none">
							<span>开标地域：</span>
							<select class="checkArea" ng-model="page.province" ng-options="objP.Province for objP in AreaProvince" ng-change="cityKinkage(page.province)">
								<option value="">省</option>
							</select>
							<select class="checkArea ml"  ng-model="page.city" ng-options="objC.City for objC in AreaCity">
								<option value="">市</option>
							</select>
						</div>
					</div>
					<div class="searchBtn fr">
						<input type="button" value="查询" class="btn btn-info" ng-click="hisSearch(1,10)"/><!--searchMedData(1,10)-->
						<input type="button" value="重新上传" class="btn btn-danger" ng-click="reUploadFile()"/>
					</div>
				</div>
			</div>
		</div>
		<div class="tableBox">
			<div class="tableBg">
				<div class="tableHeight">
					<table class="table hisTable">
						<thead>
							<tr>
								<th class="th1">开标年</th>
								<th class="th2">开标月</th>
								<th class="th3">省</th>
								<th class="th4">市</th>
								<th class="th5">中标价</th>
								<!--<th class="th6">操作</th>-->
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="obj in hisData" class="sinTr">
								<td>
									{{obj.tenderYear}}
								</td>
								<td>{{obj.tenderMonth}}</td>
								<td>{{obj.province}}</td>
								<td>{{obj.city}}</td>
								<td>{{obj.tenderPrice}}</td>
								<!--<td>
									<a href ng-click="editHistory(obj)">编辑</a>
								</td>-->
							</tr>
						</tbody>
					</table>
				</div>
				<div class="paging">
					<span style="margin-right:20px;">共{{page.totalPage}}页</span>
					<span style="margin-right:20px;">每页
						<select name="" id="" ng-options="num for num in infoNum" ng-model="page.pageSize" ng-change="changeNum()"></select>
						个
					</span>
					<input type="button" value="上页" ng-click="prevPage()"/>
						<input type="number" id="hisPI" step="1" ng-model="page.pageIndex" />
					<input type="button" value="下页" ng-click="nextPage()"/>
					<input type="button" value="跳转" ng-click="skipPage()"/>
				</div>
			</div>
		</div>
	</div>
</div>