
<div class="relative itemTab">
  	<ul class="nav nav-tabs" role="tablist">
    	<li role="presentation" class="active"><a class="tabColor" ng-bind="CDepName"></a></li>
  	</ul>
  	<div class="addAnalyzing"><a href ng-click="addAnalyzing(thisPageDepId)"><img src="img/u52.png" alt="" />添加新分析</a></div>
</div>

<div class="details">
	<ul>
		<li ng-repeat="obj in medList" class="folder relative" title="{{obj.medicineName}}" >
			<a ng-href="./index.html#/Client?dep={{obj.depId}}&med={{obj.medicineId}}" style="display:block;">
				<div class="MB medBoxTop">   
					<div class="medIcon">
						<div class="col col1"></div>
						<div class="col col2"></div>
						<div class="col col3"></div>
					</div>
	                <div class="medName whiteSpace">  
	                    {{obj.medicineName}} 
	                </div>
	                <div class="CTime">创建于{{obj.createTime|date:'yyyy/MM/dd'}}</div>
				</div>
				<div class="MB medBoxMiddle"></div>
				<div class="MB medBoxBottom"></div>
			</a>
		</li>
	</ul>
</div>