<div class="createFile" style="cursor: pointer;"  ng-click="createFile()">
	<i class="layui-icon" style="font-size: 16px; color: #15A2CB;">&#xe608;</i>
	<span>新建文件夹</span>
</div>
<ul class="indented-left ofw">
	<li ng-repeat="obj in menuList">
		<a class="items" ng-class="{itemBg:$index==selectedItem}" ng-href="./index.html#/Client?dep={{obj.depId}}" >  
			<i class="layui-icon" style="font-size: 25px; color: #333;vertical-align:top;">&#xe622;</i>
            <span class="whiteSpace one" title="{{obj.depName}}">  
                {{ obj.depName}}
            </span>
       		<i class="btnShow pull-right  editBtn btn btn-warning btn-xs" ng-click="editItem($event,obj)"> 
                <span class="glyphicon glyphicon-edit"></span>  
       		</i>
		</a>
	</li>
</ul>