<div class="indented-left mt20">
	<div>
		<div class="items">  
			<i class="layui-icon" style="font-size: 25px; color: #333;vertical-align:top;">&#xe622;</i>
            <span title="{{CDepName}}" class="whiteSpace">  
                {{CDepName}}  
            </span>  
       		<!--<i class="btnShow pull-right editBtn btn btn-warning btn-xs" ng-click="editItem($event,menuList[selectedItem||0])"> 
                <span class="glyphicon glyphicon-edit"></span>  
       		</i>-->
		</div>
	</div>
	<div>
		<ul class="ofw">
			<li ng-repeat="obj in medList">
				<a class="items medItem" ng-href="./index.html#/Client?dep={{obj.depId}}&med={{obj.medicineId}}" ng-class="{itemBg:$index==medActive}">  
		            <span class="whiteSpace er" title="{{obj.medicineName}}">  
		                {{ obj.medicineName}}
		            </span> 
		            <span class="btnShow pull-right">
			           	<i class="btn btn-danger btn-xs" ng-click="removeMed(obj,$index,medList,$event)">  
			            	<span class="glyphicon glyphicon-remove"></span>  
			           	</i>   
			       		<i class="editBtn btn btn-warning btn-xs" ng-click="editOrMoveMed($event,obj,$index)"> 
			                <span class="glyphicon glyphicon-edit"></span>  
			       		</i> 
		       		</span>
				</a>
			</li>
		</ul>
	</div>
</div>
