<div class="userManagementTable">
	<div class="clearfix tableHeader">
		<div class="fl searchBox">
			<span class="relative SBox">
				<input type="search" class="inputSearch" placeholder="请输入用户名称/用户账号" ng-model='page.paraCond'/>
				<i class="removeBtn glyphicon glyphicon-remove" ng-click="removeKeywords()"></i>
			</span>
			<input type="button" class="searchBtn" value="搜索" ng-click="userSearch()"/>
		</div>
		<div class="fr"><input type="button" class="newUI btn btn-info" ng-click="newUI()" value="新建"/></div>
	</div>
	<div class="userInfoTable">
		<table class="table">
			<thead>
				<tr class="active">
					<th class="th1">用户名称</th>
					<th class="th2">用户账号</th>
					<th class="th3">创建时间</th>
					<th class="th4">操作</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="obj in userInfo">
					<td ng-bind="obj.userName"></td>
					<td ng-bind="obj.loginAccount"></td>
					<td ng-bind="obj.createTime|date:'yyyy-MM-dd HH:mm:ss'"></td>
					<td>
						<a class="cp" ng-click="viewInfo(obj)">查看</a>
						<a class="cp" ng-click="resetPwd(obj)">重置密码</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="paging">
		<span style="margin-right:20px;">共{{totalPageNum}}页</span>
		<span style="margin-right:20px;">每页
			<select name="" id="" ng-model="page.pageSize" ng-options="obj for obj in infoNum" ng-change="changeSize()"></select>
			个
		</span>
		<input type="button" value="上页" class="prevP UserP" ng-click="PrevOrNextPage($event)"/>
		<input type="number" min="1" ng-model="page.pageIndex" class="inputIndex"/>
		<input type="button" value="下页" class="nextP UserP" ng-click="PrevOrNextPage($event)"/>
		<input type="button" value="跳转" ng-click="skipPage()"/>
	</div>
</div>